{% load static %}


<!DOCTYPE html>
<html>
<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css'/>

<body>
    <!--header section start-->
    <header class ="header">
        <a href = "#" class="logo">
            <img src="{%static 'images/noteis.png' %}" alt="image"  />
        </a>
        <nav class="navbar">
            <a href="{% url 'home'%}" class="active" >Homepage</a>
            <a href="{% url 'register'%}">Register</a>
            <a href="{% url 'login'%}">Login</a>
            <a href="#">Personal Home</a>
            <a href="#">Task List</a>
            <a href="#">Journal</a>
            <a href="#">Reading List</a>
        </nav>
        <div class="buttons">
            <button>
                <i class ="fas fa-search"></i>
            </button>
             <button>
                <i class ="fas fa-bars"></i>
            </button>
        </div>
    </header>
    <!--! header section end -->

     <!--! home section start -->
        <section class = "home">
            <div class= "content">
                <h3> </h3>
            <p> 
        </p>
  
            </div>
            </section>
    
      <!--! home section end -->
</body>
</html>




</html>
