{% load static %}


# ANA SAYFA BURAYA YAPILACAK


<!DOCTYPE html>
<html>
  <head>
    <title>NoteIs | Homepage</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'noteis.ico' %}"
      type="text/css"
    />
  </head>
  <body>
    <img src="{%static 'images/noteis.png' %}" alt="image" />
  </body>


<body>
    <h2>Welcome to Home Page</h2>
    <p>You can navigate to Login or Register page using the buttons below:</p>
    <!-- Login button -->
    <form action="{% url 'login' %}" method="get">
        <button type="submit">Login</button>
    </form>
    <!-- Register button -->
    <form action="{% url 'register' %}" method="get">
        <button type="submit">Register</button>
    </form>
</body>


</html>
