<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h2>Register Page</h2>
    <form method="post">
        {% csrf_token %}
        <label for="id_email">Email:</label><br>
        <input type="email" id="id_email" name="email" required>
        <br><br>
        <label for="id_password">Password:</label><br>
        <input type="password" id="id_password" name="password" required>
        <br><br>
        <button type="submit">Register</button>
    </form>
</body>


</html>
